.divide {
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unset {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0 none;
}
.block {
  padding: 10px 0;
  display: block;
}
.link {
  text-decoration: underline;
  cursor: pointer;
}
.white {
  color: white;
}
.center {
  text-align: center;
  margin: auto;
}

::-webkit-input-placeholder {
    color:   #000;
    opacity: 0.2;
}
:-moz-placeholder {
    color:   #000;
    opacity: 0.2;
}
::-moz-placeholder {
    color:   #000;
    opacity: 0.2;
}
:-ms-input-placeholder {
    color:   #000;
    opacity: 0.2;
}
