$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "variables";
@import "helpers";
// bower:scss
// endbower

* {
  box-sizing: border-box;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}


.face {
  border-radius: 30px;
  width: 48px;
  margin: 16px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

.container-mobile {
  background: $red-0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}
.container-logo {
  height: 25vh;
  vertical-align: middle;
  line-height: 45vh;
  text-align: center;
  img {
    @extend .divide;
  }
}
.button-like {
  display: block;
  text-decoration: none;
  text-align: center;
}
.btn-submit {
  @extend .unset;
  background-color: $red-1;
  width: 100%;
  border-radius: 25px;
  padding: 10px;
  color: $red-0;
  &:hover {
    color: white;
  }
}

.btn-link {
  @extend .unset;
  background-color: $red-1;
  width: 100%;
  border-radius: 25px;
  padding: 10px;
  color: $red-0;
  margin-bottom: 20px;
  &:hover {
    color: white;
  }
}

.btn-facebook {
  @extend .unset;
  background-color: $facebook-1;
  width: 100%;
  border-radius: 25px;
  padding: 10px;
  color: white;
  margin-bottom: 20px;
  &:hover {
    color: white;
  }
}

input[type=text], input[type=email], input[type=password], textarea {
  @extend .unset;
  background: rgba(0,0,0,0.1);
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  text-indent: 10px;
  -webkit-transition: all 1s;
  text-decoration: none;
  transition: all 1s;
  &:hover, &:focus {
    background: rgba(163,17,40,0.8);
    color: #fff;
    -webkit-transition: background 1s;
    transition: background 1s;
  }
}
.ng-hide {
  margin-top: -60px;
  opacity: 0;
  -webkit-opacity: 0;
  -webkit-transition: all .1s;
  transition: all .1s;
  z-index: -1;
}
.password-input {
  -webkit-transition: all .1s;
  transition: all .1s;
}
#forget-password {
  margin-top: 20px;
  background: transparent;
}
#create-account {
    margin-top: 20px;
    background: transparent;
}
ul.select-room {
  padding: 0;
  margin: 0;
  border: 2px solid white;
  width: 85%;
  margin: 10px auto 25vh auto;
  border-radius: 7px;
  > li {
    list-style: none;
    margin: 0;
    color: white;
    border-bottom: 1px solid white;
    padding: 10px;
    position: relative;
    &:last-child {
      border-bottom: 0 none;
    }
    .date-room {
      font-weight: 100;
      font-size: .8em;
    }
    .btn-join {
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      width: 25%;
      text-align: center;
      vertical-align: middle;
      background: white;
      color: black;
      text-decoration: none;
      line-height: 9vh;
      font-weight: 100;
      font-size: .9em;
      border-bottom: 1px dotted #777;
    }
    ul {
      margin: 0;
      padding: 0;
    }
  }
}
.mobile-padding {
  padding: 2vw
}

.btn-round {
  @extend .unset;
  background-color: $red-1;
  width: 50px;
  height: 50px;
  border-radius: 45px;
  padding: 10px;
  color: $red-0;
  position: relative;
  margin:10px auto;
  display: block;
  transform: rotate(45deg);
    transform-origin: 50%;
  &:hover {
    color: white;
  }
  .vertical-line {
    width: 2px;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -40%;
    margin-left: -1px;
    background: $red-0;
  }
  .horizontal-line {
    height: 2px;
    width: 80%;
    left: 50%;
    top: 50%;
    margin-top: -1px;
    margin-left: -40%;
    position: absolute;
    background: $red-0;
  }
}

.profil-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.75);
  }
}
.dashboard-contain {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  right: 0;
  bottom: 0;
  left: 0;
  background: $red-0;
}
h2.entry-title {
  width: 85%;
  margin: auto;
  color: white;
  font-weight: 400;
  font-size: 1.2em;
}
#map { position:absolute; top:0; height: 30%; width:100%; }
.profil-area {
  text-align: center;
}
.bloc-50{
  position: fixed;
  width: 50%;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  background: #222;
  color: #888;
  text-decoration: none;
  font-weight: 300;
  font-size: 1em;
  z-index: 999;
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s;
  a {
    color: #888;
    text-decoration: none;
    font-weight: 300;
    font-size: 1em;
  }
}
.create-room {
  left: 0;
  bottom: 0;
  border-right: 1px solid #333;
}
.discover {
  right: 0;
  bottom: 0;
  border-left: 1px solid #000;
}
.header {
  height: 10vh;
  text-align: center;
  position: relative;
  button, .button {
    &.menu-nav {
      display: block;
    }
    @extend .unset;
    width: 38px;
    height: 38px;
    position: absolute;
    background: transparent;
    left: 0;
    top: 20px;
    left: 20px;
    cursor: pointer;
    padding: 0;
    .line {
      height: 3px;
      background: rgba(255,255,255,.8);
      overflow: hidden;
      border-radius: 5px;
      display: block;
      margin-bottom: 7px;
    }
  }
  .supercat-logo {
    margin-top: 10px;
  }
}


.st-effect-7.st-container {
	perspective: 1500px;
	perspective-origin: 0% 50%;
}

.st-effect-7 .st-pusher {
	transform-style: preserve-3d;
}

.st-effect-7.st-menu-open .st-pusher {
	transform: translate3d(300px, 0, 0);
}
.bloc-50.st-menu-open {
  transform: translate3d(300px, 0, 0);
  transform-style: preserve-3d;
  -webkit-transition: all 0.5s;
}

.st-effect-7.st-menu {
	transform: translate3d(-100%, 0, 0) rotateY(-90deg);
	transform-origin: 100% 50%;
	transform-style: preserve-3d;
}

.st-effect-7.st-menu-open .st-effect-7.st-menu {
	visibility: visible;
	transform: translate3d(-100%, 0, 0) rotateY(0deg);
}

.st-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: $dark-0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: inset -10px 0px 20px -10px rgba(0,0,0,0.8);
  -moz-box-shadow: inset -10px 0px 20px -10px rgba(0,0,0,0.8);
  box-shadow: inset -10px 0px 20px -10px rgba(0,0,0,0.8);
}
.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  perspective: 1000px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.st-container {
  position: relative;
  overflow: hidden;

}
.st-container, .st-pusher, .dashboard-contain {
  height: 100%;
}
.dashboard-contain, .st-content-inner {
  position: relative;
}
.dashboard-contain {
  overflow-y: scroll;
}

.nav-menu {
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    list-style: none;
    color: white;
    a {
      text-decoration: none;
      display: block;
      border-bottom: 1px solid #333;
      padding: 20px 0;
      text-indent: 20px;
      color: #777;
      &:hover {
        color: white;
      }
    }
  }
}

.disconnect-btn {
  @extend .unset;
  left: 0;
}
.delete-btn {
  @extend .unset;
  right: 0;
}
.nav-button {
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 25vh;
  background: #222;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  color: #777;
  &:hover {
    color: white;
  }
}

.chat-input-bar {
  background: $red-1;
  bottom: 0;
  top: 85vh;
  left: 0;
  right: 0;
  position: absolute;
  input[type=text] {
    background: $red-1;
    height: 15vh;
    display: block;
    margin:0;
    width: 85%;
    color: #f0f0f0;
  }
  .chat-send {
    @extend .unset;
    position: absolute;
    right: 0;
    color: #fff;
    background: transparent;
    top: 0;
    height: 15vh;
    margin: 0;
    border: 0;
    padding: 20px;
    width: 15%;
    text-align: center;
  }
}
.chat-messages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 15px 25px 60px;
}
.chat-message-bubble {
  display: inline-block;
  font-size: 14px;
  max-width: 80%;
  background: #fff;
  padding: 8px 14px;
  border-radius: 18px;
  min-width: 0;
  margin: 0;
}

.chat-message {
  position: relative;
  font-size: 0;
  margin-bottom: 20px;
  .details {
    position: absolute;
    bottom: -15px;
    left:0;
    right: 0;
    font-size: 10px;
    color: black;
    opacity:.3;
    text-align:left;
    text-indent: 10px;
  }
  .face {
  border-radius: 30px;
  width: 19px;
  float: left;
  padding: 0;
  margin: 0 15px 0 0;
  }
}

.chat-messages {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  position: absolute;
  background: $red-0;
  top: 10vh;
  bottom: 15vh;
}
.chat-message-self {
  text-align: right;
  .details {
    position: absolute;
    text-align:right;
    text-indent: -5px;
  }
}

.chat-message-self .chat-message-bubble, .chat-message-effect .chat-message-bubble {
  background: $red-1;
  color: white;
  text-align: left;
}
