<div id="st-container" class="st-container st-effect-7" ng-class="{'st-menu-open': toggleNavOpen}" ng-controller="NavigationCtrl">
  <!-- content push wrapper -->
  <div class="st-pusher">
    <nav class="st-menu st-effect-7" id="menu-7">
      <!-- sidebar content -->
      <ng-include src="'views/include/navigation.html'"></ng-include>
    </nav>
    <div class="dashboard-contain">
      <ng-include src="'views/include/header.html'"></ng-include>
      <div layout="column">
        <div class="md-tile-left">
          <img ng-src="http://www.gravatar.com/avatar/{{user.gravatar}}?d=mm" class="face" />
        </div>
        <form ng-submit="createChannel()">
          <input placeholder="Title" ng-model="channel.title" type="text" placeholder="Title">
          <textarea placeholder="Description" ng-model="channel.description" columns="1" maxlength="150"></textarea>
          <input type="file" fileread="channel.image">
          <button class="btn-link button-like">Save</button>
        </form>
      </div>
    </div>
  </div>
  <!-- /st-pusher -->
</div>
<!-- /st-container -->
