<div id="st-container" class="st-container st-effect-7" ng-class="{'st-menu-open': toggleNavOpen}" ng-controller="NavigationCtrl">
  <!-- content push wrapper -->
  <div class="st-pusher">
    <nav class="st-menu st-effect-7" id="menu-7">
      <!-- sidebar content -->
      <ng-include src="'views/include/navigation.html'"></ng-include>
    </nav>
    <div class="dashboard-contain">
      <ng-include src="'views/include/header.html'"></ng-include>
      <ul class="select-room">
        <li ng-repeat="room in list" id="channel-{{room.id}}">
          <ul ng-repeat="avatar in users[room.id] | limitTo:1">
            <li class="users-list">
              <img ng-src="http://www.gravatar.com/avatar/{{avatar.email_md5}}" class="face" />
            </li>
          </ul>
          <div class="title">{{room.title}}</div>
          <div class="date">{{room.created_at}}</div>
        </li>
      </ul>
    </div>
  </div>
  <!-- /st-pusher -->
</div>
<!-- /st-container -->
