<ng-include src="'/views/include/logo.html'"></ng-include>
<form ng-submit="submit()">
  <md-input-container>
    <label>e-mail</label>
    <input type="email" class="form-control" id="exampleInputEmail1" ng-model="user.email">
  </md-input-container>
  <md-input-container>
    <label>Password</label>
    <input type="password" class="form-control" id="exampleInputEmail1" ng-model="user.password">
  </md-input-container>
  <md-input-container>
    <label>Password confirm</label>
    <input type="password" class="form-control" id="exampleInputEmail1" ng-model="user.password_confirmation">
  </md-input-container>
  <md-input-container>
    <label>username</label>
    <input type="text" class="form-control" id="exampleInputPseudo" ng-model="user.username" placeholder="pseudo">
  </md-input-container>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

{{coords}}
